extend ../layout

block content
  .container.main-container
    .row
      .panel.result-page
        .panel-heading
          h3 关于 &emsp; #{keyword} &emsp; 的搜索结果
        .panel-body
          if movies && movies.length > 0          
            each item in movies
              .col-sm-3.movie-box
                .thumbnail
                  a(href="/movie/#{item._id}")
                    div.img-container
                      img(src="#{item.poster}", alt="#{item.title}",width='185', height='277')
                  .caption
                    h3 #{item.title}
                    p
                      a.play(href="/movie/#{item._id}", role="button") NOW PLAYING
          else
             p 很抱歉，什么都没找到/(ㄒoㄒ)/~~
      ul.pagination
        - for (var i = 0; i < totalPage; i++) {
          - if (i == currentPage){
              li.active
                span #{i+1}
          - }
          - else {
              li
                a(href="/results?#{query}&page=#{i}") #{i+1}
          - }
        - }